.visitus{
    background-image: url("/images/__background\ \(1\).jpg");
    margin-top: 92px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 740px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .visitus__title{
    color: #fffdfd;
    font-size: 72px;
    font-family: 'Inter';
    font-weight: 900;
    line-height: 76px;
    margin: 0;
  }
  .visitus__text{
    color: #fff;
    font-size: 18px;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .button_visitus{
    color: #FFF;
  }
  .visitus:hover{
    background-color: #2a2c2f;
    opacity: .3;
    transition: 5s ease-in-out forwards;
  }
  @media screen and (min-width: 950px) {
    .visitus{
      width: 100%;
    }
    
  }
  
  @media screen and (max-width: 768px){
    .visitus{
      width: auto;
      height: 254px;
    }
    .visitus__title{
      font-size: 32px;
      font-family: 'Inter';
      font-weight: 900;
      line-height: 35px;
    }
    .visitus__text{
      font-size: 14px;
      font-family: 'Inter';
      line-height: 16px;
    }
  
  }