
@import url(/blocks/body.css);
@import url(/blocks/content.css);
@import url(/blocks/footer.css);
@import url(/blocks/header.css);
@import url(/blocks/introduction.css);
@import url(/blocks/lead.css);
@import url(/blocks/logo.css);
@import url(/blocks/page.css);
@import url(/blocks/photos.css);
@import url(/blocks/places.css);
@import url(/blocks/visitus.css);

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Web/Inter-Regular.woff2?v=3.19") format("woff2"),
       url("../fonts/Inter-Web/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-Web/Inter-Black.woff2?v=3.19") format("woff2"),
       url("../fonts/Inter-Web/Inter-Black.woff?v=3.19") format("woff");
}

body{
  background-color: #2a2c2f;
}
.page{
    max-width: 1280px;
    font-family: "Inter";
    margin: 0 auto;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    padding-top: 34px;
  }
  .content{
    padding-top: 80px;
    width: 100%;
  }
  .lead{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lead__title{
    color: #fff;
    text-align: center;
    font-size: 96px;
    font-family: "Inter";
    font-weight: 900;
    line-height: 100px;
    margin: 0;
    width: 50%;
  }
  .lead__subtitle{
    color: #fff;
    text-align: center;
    padding-top: 32px;
    font-size: 30px;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 36px;
    margin: 0;
    width: 50%;
  }
  .lead__image{
    padding-top: 64px;
  }

  @media screen and (max-width : 1024px) {
    .lead__image{
      width: 100%;
    }
  }
  @media screen and (max-width : 768px) {
    .lead__title{
      font-size: 40px;
      text-align: center;
      font-family: 'Inter';
      font-weight: 900;
      line-height: 44px;
      width: 100%;
    }
    .lead__subtitle{
      font-size: 16px;
      text-align: center;
      font-family: 'Inter';
      line-height: 20px;
      width: 90%;
      }
      .lead__image{
        width: 100%;
      }
    }
    .introduction{
      padding-top: 92px;
      display: flex;
      flex-direction: column;
      width: calc(100% - 148px*2);
      margin: 0 148px;
    }
    .introduction__title{
    color: #FFF;
    font-size: 54px;
    font-family: 'Inter';
    font-weight: 900;
    line-height: 58px;
    }
    .introduction__text{
      color: #FFF;
      font-size: 24px;
      font-family: 'Inter';
      font-weight: 400;
      line-height: 34px;
      display: flex;
      flex-direction: column;
      width: 65%;
      margin: 0;
      padding-top: 42px;
    }
    .introduction__author{
      color: #FFF;
      font-size: 24px;
      font-family: 'Inter';
      font-weight: 400;
      line-height: 34px;
      text-align: right;
    }
    .introduction__description{
      color: #FFF;
      font-size: 16px;
      font-weight: 400;
      font-family: 'Inter';
      line-height: 163%;
      width: 65%;
      margin: 0;
      padding-top: 42px;
    }
    @media screen and (max-width : 1024px) {
      .introduction{
        padding-top: 55px;
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
      }
      .introduction__title{
        margin: 0;
        padding-right: 16px;
        padding-left: 16px;
      }
      .introduction__text{
        width: 90%;
        padding-right: 16px;
        padding-left: 16px;
  
      }
      .introduction__author{
        padding-right: 24px;
      }
      .introduction__description{
        width: 90%;
        padding-right: 16px;
        padding-left: 16px;
  
      }
      
    }
    .photos{
      padding-top: 92px;
      width: calc(100% - 48px*2);
      margin: 0 48px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 1fr;
      grid-gap: 16px;
    }
    @media screen and (max-width : 1279px) {
      .photos{
        display: grid;
        grid-template-columns: repeat(2, auto);
      }
      .item-1{
        width: 100%;
        height: 264px;
      }
      .item-2{
        width: 100%;
        height: 264px;
      }
      .item-3{
        width: 100%;
        height: 264px;
      }
      .item-4{
        width: 100%;
        height: 264px;
      }
      .item-5{
        width: 100%;
        height: 264px;
      }
      .item-6{
        width: 100%;
        height: 264px;
      }
      .item-7{
        width: 100%;
        height: 264px;
      }
      .item-8{
        width: 100%;
        height: 264px;
      }
      
    }
    @media screen and (max-width : 950px) {
      .photos{
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto auto auto;
        display: grid;
        margin-top: 64px;
        padding: 0;
      }
      .item-1{
        width: 100%;
        height: 264px;
      }
      .item-2{
        width: 100%;
        height: 264px;
      }
      .item-3{
        width: 100%;
        height: 264px;
      }
      .item-4{
        width: 100%;
        height: 264px;
      }
      .item-5{
        width: 100%;
        height: 264px;
      }
      .item-6{
        width: 100%;
        height: 264px;
      }
      .item-7{
        width: 100%;
        height: 264px;
      }
      .item-8{
        width: 100%;
        height: 264px;
      }
      
    }
  
    @media screen and (max-width : 767px) {
      .photos{
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 32px 0;
        padding: 16px;
      }
      .item-1{
        width: 100%;
        height: 216px;
      }
      .item-2{
        width: 100%;
        height: 216px;
      }
      .item-3{
        width: 100%;
        height: 216px;
      }
      .item-4{
        width: 100%;
        height: 216px;
      }
      .item-5{
        width: 100%;
        height: 216px;
      }
      .item-6{
        width: 100%;
        height: 216px;
      }
      .item-7{
        width: 100%;
        height: 216px;
      }
      .item-8{
        width: 100%;
        height: 216px;
      }
    }

    .places{
      display: flex;
      flex-direction: column;
      margin: 0;
    }
    .place{
      display: grid;
      grid-template-columns: 475px 1fr;
      grid-template-rows: auto 340px auto;
      grid-gap: 40px;
      padding-top: 92px;
      list-style: none;
      padding-right: 16px;
    }
    .place__title{
      grid-column: 1;
      grid-row: 1;
      margin: 0;
      color: #FFF;
      font-size: 62px;
      font-family: 'Inter';
      font-weight: 900;
      line-height: 1.2;
    }
    .place__title-text{
      margin: 0;
    }
    .place__image{
    height: 460px;
    width: 460px;
    grid-column: 1;
    grid-row: 2;
    object-fit: cover;
    }
    .place__artist{
      grid-column: 2;
      grid-row: 1;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #aaa;
      font-size: 12px;
      font-family: 'Inter';
      align-self: end;
    }
    .place__person{
      display: flex;
      color: #FFF;
      font-size: 18px;
      font-family: 'Inter';
      line-height: 22px;
      text-transform: none;
      padding-top: 8px;
    }
    .place__text{
      margin: 0;
      grid-column: 2;
      grid-row: 2;
      color: #FFF;
      font-size: 18px;
      font-family: 'Inter';
      line-height: 1.2;
      letter-spacing: 1px;
    }
    .button{
      border-radius: 4px;
      background-color: #0278fe;
      font-size: 18px;
      font-family: 'Inter';
      font-weight: 600;
      text-decoration: none;
      text-align: center;
      padding: 13px 20px;
    }
    .button:hover{
      opacity: .7;
      transition: 5s ease-in-out forwards;
      background-color: #0063D2;
    }
    .button__place{
      grid-column: 1;
      grid-row: 6;
      width: 400px;
      height: 32px;
    }
    .buy-link{
      text-decoration: none;
      color: #FFF;
    }
    @media screen and (max-width : 1024px){
      .place{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 460px auto;
        grid-gap: 1rem;
      }
      .place__text{
      font-size: 1rem;
      grid-row: 2/4;
    }
    .place__title-text{
      font-size: 2.5rem;
      width: 50%;
    }
    .button__place{
      grid-column: 1;
      grid-row: auto;
      height: 32px;
      margin: 0;
      width: 90%;
    }
  }
  @media screen and (max-width : 767px){
    .places{
      margin-top: 62px;
    }
    .place{
      display: flex;
      flex-direction: column;
      padding: 0;
    }
    .place__title{
      margin: 16px;
    }
    .place__image{
      height: 320px;
      width: 100%;
    }
    .place__artist{
      align-self: baseline;
      margin: 0 16px;
    }
    .place__text{
      margin: 0 16px;
    }
    .button__place{
      margin: 0 16px;
      font-size: 16px;
      width: auto;
    }
  }
  
  .visitus{
    background-image: url("/images/__background\ \(1\).jpg");
    margin-top: 92px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 740px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .visitus__title{
    color: #fffdfd;
    font-size: 72px;
    font-family: 'Inter';
    font-weight: 900;
    line-height: 76px;
    margin: 0;
  }
  .visitus__text{
    color: #fff;
    font-size: 18px;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .button__visitus{
    color: #FFF;
  }
  .visitus:hover{
    background-color: #2a2c2f;
    opacity: .3;
    transition: 5s ease-in-out forwards;
  }
  @media screen and (min-width : 950px) {
    .visitus{
      width: 100%;
    }
    
  }
  
  @media screen and (max-width : 768px){
    .visitus{
      width: auto;
      height: 254px;
    }
    .visitus__title{
      font-size: 32px;
      font-family: 'Inter';
      font-weight: 900;
      line-height: 35px;
    }
    .visitus__text{
      font-size: 14px;
      font-family: 'Inter';
      line-height: 16px;
    }
  
  }

  .footer{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: 'Inter';
    line-height: 16px;
    padding-bottom: 24px;
    padding-top: 92px;
  }
